<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World! - A-Frame</title>
    <meta name="description" content="Hello, World! - A-Frame">
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>

    <script src="https://cdn.rawgit.com/zcanter/aframe-gradient-sky/master/dist/gradientsky.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/2.3.0/nunjucks.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@^3.1.1/dist/aframe-template-component.min.js"></script>
  </head>
  <body>

    <a-scene>
      <!--<a-entity position="10 0 -10" rotation="0 90 0">-->
        <!--<a-box color="#784e56" rotation="0 45 0" position="-1 0.5 -6" depth="5" height="1" width="5"></a-box>-->
        <!--<a-box position="0 1.5 -5" rotation="0 45 0" color="#4CC3D9"></a-box>-->
      <!--</a-entity>-->

      <!--<a-entity bind__position="enemyPosition"></a-entity>-->
      <a-assets>
        <a-mixin id="leaf-block"
                 geometry="primitive: box; depth: 2.5; height: 2.5; width: 2.5"
                 material="color: #69C181; side: double"></a-mixin>
        <script id="forest" type="text/x-nunjucks-template">
          {% for x in range(0, 10) %}
          {% for z in range(0, 10) %}
          <a-entity template="src: tree.template; type: handlebars"
                    data-position="{{ x * 10 }} 0 {{ z * 10 }}"
                    data-trunkcolor="#623B1C"></a-entity>
          {% endfor %}
          {% endfor %}
        </script>
      </a-assets>
      <a-entity template="src: #forest" position="0 2 0"></a-entity>
      <a-entity position="25 0 25">
        <a-camera></a-camera>
      </a-entity>
        <a-gradient-sky material="shader: gradient; topColor: 3 4 2; bottomColor: 31 71 56"></a-gradient-sky>
      <a-plane src="#ground" color="#070a0c" height="100" width="100" rotation="-90 0 0"></a-plane>
    </a-scene>
  </body>
</html>
